In [1]:
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect('chinook.db')

In [3]:
cur = con.cursor()

In [ ]:
# 1. get total sales for all years using invoice table
# you will want to use SUBSTR to get the year from the invoice date
# you will want to use SUM to get the total sales for each year

In [5]:
total_sales = cur.execute('SELECT SUBstr(InvoiceDate, 1, 4) AS Year, SUM(Total) FROM invoices GROUP BY Year').fetchall()
print(total_sales)

[('2009', 449.4600000000003), ('2010', 481.45000000000033), ('2011', 469.5800000000003), ('2012', 477.53000000000026), ('2013', 450.58000000000027)]

In [ ]:
# 2. get total sales for each country - use invoice table
# you will also need to join with the customer table - those have country info

In [8]:
total_sales_cntr = cur.execute('SELECT Country, SUM(Total) FROM invoices as i JOIN customers  as c ON i.CustomerId=c.CustomerId GROUP BY Country').fetchall()
print(total_sales_cntr)

[('Argentina', 37.620000000000005), ('Australia', 37.620000000000005), ('Austria', 42.62), ('Belgium', 37.62), ('Brazil', 190.1), ('Canada', 303.96), ('Chile', 46.62), ('Czech Republic', 90.24), ('Denmark', 37.620000000000005), ('Finland', 41.620000000000005), ('France', 195.09999999999994), ('Germany', 156.48), ('Hungary', 45.62), ('India', 75.25999999999999), ('Ireland', 45.62), ('Italy', 37.620000000000005), ('Netherlands', 40.62), ('Norway', 39.62), ('Poland', 37.620000000000005), ('Portugal', 77.24), ('Spain', 37.62), ('Sweden', 38.620000000000005), ('USA', 523.0600000000004), ('United Kingdom', 112.85999999999999)]

In [ ]:
#3. a count tracks in each playlist - use playlist_track table

In [10]:
track_count = cur.execute('SELECT PlaylistId, COUNT(TrackId) FROM playlist_track GROUP BY PlaylistId').fetchall()
print(track_count)

[(1, 3290), (3, 213), (5, 1477), (8, 3290), (9, 1), (10, 213), (11, 39), (12, 75), (13, 25), (14, 25), (15, 25), (16, 15), (17, 26), (18, 1)]

In [ ]:
#extra challenge get total track lenght in minutes for each playlist
# you will need to join with the track table

In [7]:
track_length = cur.execute('SELECT PlaylistId, SUM(Milliseconds /60000) as Minutes FROM playlist_track as pt JOIN tracks as t ON pt.TrackId=t.TrackId GROUP BY PlaylistId').fetchall()
print(track_length)

[(1, 12981), (3, 8239), (5, 5914), (8, 12981), (9, 4), (10, 8239), (11, 141), (12, 329), (13, 99), (14, 117), (15, 113), (16, 62), (17, 123), (18, 3)]

In [ ]:
# 3. c cherry on top - provide names of these playlists
# so you will want to join with the playlist table as well

In [12]:
track_length_name = cur.execute('SELECT Name, SUM(Milliseconds /60000) as Minutes FROM playlist_track as pt JOIN tracks as t ON pt.TrackId=t.TrackId JOIN playlists as pl ON pl.PlaylistId=pt.PlaylistId GROUP BY Name').fetchall()
print(track_length_name)

OperationalError: ambiguous column name: Name